@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: whitesmoke;
  background-color: #2f74c0;

}

.input__box:focus{
    outline: none ;
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.4);
}

.btn{
    box-shadow: 0 0 6px black;
}
.btn:hover{
    background-color: #2f74d4;
}
.btn:active{
    transform: scale(0.8);
    box-shadow: 1px 0 10px 2px black;

}